.imagem-homepage{
    background-size: cover;
    background-image: url(../../../assets/images/backgrounds/Capa-Travelbike.png);
}
.bg-imagem-BMW {
    background-size: cover;
    background-image: url(../../../assets/images/general/BMW-MOTO.png);
}
.bg-imagem-TRIUMPH {
    background-size: cover;
    background-image: url(../../../assets/images/general/TRIUMPH-MOTO.png);
}
.bg-imagem-HD {
    background-size: cover;
    background-image: url(../../../assets/images/general/HD-MOTO.png);
}
.bg-imagem-HONDA {
    background-size: cover;
    background-image: url(../../../assets/images/general/HONDA-MOTO.png);
}