@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Open-sans;
    src: url(./assets/fonts/OpenSans/OpenSans-VariableFont-wdth-wght.ttf);
}
@font-face {
    font-family: Titillium;
    src: url(./assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf);
}

* {
    font-family: Open-sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Titillium;
}
h1 {
    font-size: 100px;
}
h2 {
    font-size: 85px;
}
h3{
    font-size: 70px;
}
h4 {
   font-size: 55px;
}
h5 {
    font-size: 40px;
}
h6 {
    font-size: 30px;
}
.subtitle{
    font-size: 20px;
}