@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Open-sans;
    src: url(./assets/fonts/OpenSans/OpenSans-VariableFont-wdth-wght.ttf);
}
@font-face {
    font-family: Titillium;
    src: url(./assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf);
}

* {
    font-family: Open-sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Titillium;
}
